html, body
{
  height: 100%;
  margin: 0;
}

.hidden
{
  opacity: 0;
  pointer-events: none;
}

#content
{
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, lightgray, white, lightgray);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects
{
  width: 80%;
  height: 80%;
  /*background: black;*/

  display: grid;
  grid-template-columns: repeat(auto-fit, 11rem);
  grid-template-rows: repeat(auto-fit, 15rem);
  justify-content: center;
  align-content: center;
  gap: 2rem;

  padding: 1rem;
}

.project
{
  background: linear-gradient(to bottom, rgb(206, 206, 206), white);
  transition: transform 200ms;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  position: relative;

  box-shadow: 0 0 20px 5px gray;
}
.project h2
{
  margin: 0;
}
.project:hover
{
  transform: scale(1.125);
}
.project > .material-icons
{
  transform: scale(0.8);
  cursor: pointer;

  position: absolute;
  top: 1rem;
  right: 1rem;

  border: 1px solid black;
}
.project > .material-icons:hover
{
  background-color: rgb(238, 238, 238);
}

.progress-bar
{
  width: 85%;
  height: 7.5%;

  font-weight: bold;

  position: relative;
  z-index: 1;

  border: 2px solid rgb(36, 36, 36);
}

.progress-bar #bar
{
  content: "";

  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#add
{
  font-size: 10em;
  user-select: none;

  justify-content: center;
  align-items: center;
}
#add span
{
  transition: transform 500ms;
}
#add:hover span
{
  transform: rotateZ(90deg);
}

#info-container
{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
}

#info-box
{
  width: 80%;
  height: 80%;
  background: linear-gradient(to right, rgb(224, 224, 224), white 80% 100%);

  display: flex;

  position: relative;
  z-index: 99;
}

#info-box > span, .project > .material-icons
{
  cursor: pointer;

  position: absolute;
  top: 1rem;
  right: 1rem;

  border: 1px solid black;
}
#info-box > span:hover
{
  background-color: rgb(238, 238, 238);
}

#main-info
{
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;

  position: relative;
}

#main-info::after
{
  content: "";

  width: 1px;
  height: 85%;
  background: rgba(0, 0, 0, 0.4);

  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  position: absolute;
  right: 0;
}

.info-box
{
  margin: 3rem 3rem 0 3rem;
}

.info-box h1, p
{
  width: min-content;
}

.info-box h1
{
  width: min-content;
  font-size: 3em;
  font-family: "Big Noodle Titling";
  font-weight: 575;
  user-select: none;

  margin: 0;
}

.info-box p
{
  font-size: 2em;
  font-family: "Alegreya";

  display: flex;
  align-items: center;

  position: relative;

  margin: 0;
}

.info-box span
{
  cursor: pointer;

  margin: 0.5rem;
}

.info-box input[type=text], input[type=date], select
{
  background: transparent;

  font-size: 2.25em;
  font-family: "Alegreya";

  outline: none;
  border: none;
}
.info-box input[type=date]
{
  font-size: 2.25em;
  font-family: "Alegreya";
}

#side-info
{
  height: 100%;
  width: 20%;

  overflow: auto;
}

#checklist-header h1
{
  width: initial;

  text-align: center;

  margin: 0;
}

.checklist
{
  display: flex;
  align-items: center;

  margin-left: 0rem;
}

.checklist input[type=text]
{
  width: 100%;
}

.checklist input[type=checkbox]
{
  transform: scale(1.5);
  margin: 1rem;
  margin-top: 1.1rem;
}

#checklist-add
{
  width: 100%;
  height: 4rem;
  cursor: pointer;

  font-size: 5.5em;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  margin-top: 5rem;
}
#checklist-add::after
{
  content: "";
  width: 75%;
  height: 100%;

  position: absolute;

  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
#checklist-add:hover::after
{
  background-color: rgba(182, 182, 182, 0.2);
}

@font-face {
  font-family: "luthfya";
  src: url(./fonts/luthfya.regular.ttf);
}
@font-face {
  font-family: "Big Noodle Titling";
  src: url(./fonts/big_noodle_titling.ttf);
}